.App {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

input::placeholder {
  color: #999;
}

input:hover,
input:focus {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


input {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

input:hover,
input:focus {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.button-container {
  display: flex;
  margin-top: 20px;
  margin-left: 100px;
}



.button-container {
  display: flex;
  margin-top: 20px;
  margin-left: 100px;
}


.button-return {
  margin-left: 10px; 
  background-color: #ff5733; 
  color: #fff; 
  padding: 10px 15px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  outline: none; 
  transition: background-color 0.3s ease; 
}

.button-return:hover {
  background-color: #cc4c1c; 
}
